{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4" >
        <h1>Editer la formation </h1>
        {{ include ('admin/formation/_form.html.twig',{button :'Editer'}) }}
    </div>

{% endblock %}

